extends layout


block content
 h1 Stores
 table.table
   thead
     tr
       th Name
       th Location
       th Actions
   tbody
     each store in stores
       tr
         td= store.name
         td= store.location
         td
           a.btn.btn-primary(href=`/store/${store.id}`) Edit
           form(action=`/store/${store.id}?_method=DELETE`, method="post", style="display: inline-block;")
             button.btn.btn-danger(type="submit") Delete


 hr


 h2 Add Store
 form(action="/store", method="post")
   div.form-group
     label(for="name") Name:
     input.form-control(type="text", name="name", required)
   div.form-group
     label(for="location") Location:
     input.form-control(type="text", name="location", required)
   button.btn.btn-success(type="submit") Add



